@import url('https://fonts.googleapis.com/css2?family=Acme&family=Istok+Web:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Istok Web', sans-serif;
}

nav {
    background-color: #1F212D;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 12vh;
}

.logo {
    flex: 30%;
    margin-left: 10%;
}

.logo>h1 {
    color: #FFF;
    font-size: 34px;
    font-weight: 700;
    line-height: 48px;
    font-style: normal;
}

.color-blue {
    color: #2D5BFF;
}

.menu {
    flex: 50%;
    margin-right: 10%;
    padding: 40px;
    text-align: right;
}

.menu>a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    font-style: normal;
    margin: 10px;
    padding: 10px;
}

.menu>a:hover {
    border-top: 4px solid #2D5BFF;
}

header{
    background-image: url("../assets/pexels-jonathan-borba-13896067.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.text-left{
    flex: 86%;
    margin-left: 14%;
}

.text-left > h2{
    color: #FFF;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 63px;
    font-style: normal;
    margin-top: -20px;
}

.text-left > button{
    width: 200px;
    height: 60px;
    border: none;
    background-color: #2D5BFF;
    border-radius: 8px;
    color: #FFF;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
    cursor: pointer;
}


.text-left > button:hover{
    opacity: 0.9;
    transition: 1s;
}